<?xml version="1.0" ?>
<config>
    <modules>
        <Vaimo_OrderAllocation>
            <version>1.0.2</version>
        </Vaimo_OrderAllocation>
    </modules>
    <global>
        <helpers>
            <orderallocation>
                <class>Vaimo_OrderAllocation_Helper</class>
            </orderallocation>
        </helpers>

        <blocks>
            <orderallocation>
                <class>Vaimo_OrderAllocation_Block</class>
            </orderallocation>           
			<adminhtml>
				<rewrite>
					<sales_order_grid>Vaimo_OrderAllocation_Block_Adminhtml_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>			
        </blocks>
        <models>
            <orderallocation>
                <class>Vaimo_OrderAllocation_Model</class>
                <resourceModel>orderallocation_resource</resourceModel>
            </orderallocation>
            <orderallocation_resource>
                <class>Vaimo_OrderAllocation_Model_Resource</class>
                <entities>
                    <orderallocation>
                        <table>vaimo_postcode_areas</table>
                    </orderallocation>
                </entities>
            </orderallocation_resource>
        </models>
        <resources>
            <orderallocation_setup>
                <setup>
                    <module>Vaimo_OrderAllocation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderallocation_setup>
            <orderallocation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderallocation_read>
            <orderallocation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderallocation_write>
        </resources>
        <events>
            <sales_order_place_before>
                <observers>
                    <allocate_order_to_manager>                       
                        <class>Vaimo_OrderAllocation_Model_Observer</class>
                        <method>allocateOrderToManager</method>
                    </allocate_order_to_manager>
                </observers>
            </sales_order_place_before>
        </events>
    </global>
    <frontend>
        <routers>
            <orderallocation>
                <use>standard</use>
                <args>
                    <module>Vaimo_OrderAllocation</module>
                    <frontName>orderallocation</frontName>
                </args>
            </orderallocation>
        </routers>
        <layout>
            <updates>
                <orderallocation>
                    <file>vaimo_orderallocation.xml</file>
                </orderallocation>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vaimo_OrderAllocation before="Mage_Adminhtml">Vaimo_OrderAllocation_Adminhtml</Vaimo_OrderAllocation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <orderallocation>
                    <file>vaimo_orderallocation.xml</file>
                </orderallocation>
            </updates>
        </layout>
    </adminhtml>
</config>